{% extends "layout.html" %}
{% block content %}
<form action="" method="POST">
    <legend class="mb-3">Create a new Trivia Game</legend>
    <div class="card" style="width: 75rem;">
        <div class="card-header">  
          <div class="row">
              <div class="col-3">
                <label class="form-label"><h6>Title</h6></label>
                <input class="form-control" type="text" name="title" placeholder="Title" value="{{request.form['title']}}">
            </div>
        </div>
        </div>
        <div class="card-body">
            <div class='container' id="container">
            {% for x in range(1, number+1) %}
                <div class="row" id="{{'row'~x}}">
                    <div class="d-flex flex-row-reverse">
                    <!-- <a href="" onclick="delete_button('row'.concat(counter))" id="trashbin" onmouseover="trashbin.style.color = 'orange'" onmouseout="trashbin.style.color = 'black'" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </a> -->
                </div>
                <div class="col">
                    <label class="form-label mt-2">Question</label>
                    <input type="question" name="{{'question'~x}}" class="form-control" id="question" value="{{request.form['question'~x]}}">
                </div>
                <div class="col">
                    <label class="form-label mt-2">Answer</label>
                    <input type="answer" name="{{'answer'~x}}" class="form-control" id="answer" value='{{request.form["answer"~x]}}'>
                    <div class="d-flex flex-row-reverse" id="delete_button"></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-3">
                <a class="btn btn-outline-info" id="add_button" onclick="more_forms()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid d-flex flex-row-reverse">
          {{form.file.label(class="text-muted")}}
          {{form.file(accept=".txt")}}
        </div>
      </nav>
</form>
<script>
    var trashbin = document.getElementById("trashbin");
    var counter = 0;
    var container = document.getElementById("container");
    var divs = container.getElementsByTagName("div");
    for(var i = 0; i < divs.length; i++){
        if(divs[i].getAttribute("class") == "row"){
            counter = counter + 1;
        }
    }
    function more_forms(){    
        counter = counter + 1;
        var strcounter = counter.toString();
        container = document.getElementById("container");
        var row = document.createElement("div");
        row.className = "row";
        row.id = "row".concat(counter);
        var col = document.createElement("div");
        col.className="col";
        var question = document.createElement("label");
        question.className = "form-label mt-3";
        question.textContent  = "Question";
        col.appendChild(question);
        var question_form  = document.createElement("input");
        question_form.className = "form-control";
        var name = "question".concat(strcounter);
        question_form.name = name;
        col.appendChild(question_form);
        var col1 = document.createElement("div");
        col1.className = "col";
        var answer = document.createElement("label");
        answer.className = "form-label mt-3";
        answer.textContent  = "Answer";
        var answer_form  = document.createElement("input");
        answer_form.className = "form-control";
        name = "answer".concat(strcounter);
        answer_form.name = name;
        col1.appendChild(answer);
        col1.appendChild(answer_form);
        row.appendChild(col);
        row.appendChild(col1);
        container.appendChild(row);
    }
    async function delete_button(element_id){
        var element = document.getElementById(element_id);
        element.remove();
    }
</script>

{% endblock content %}