{% extends "layout.html" %}
{% block content %}
{% for row in range(0, length, 3) %}
<div class="row p-3">
    {% if(row+3 > length) %}
        {% for col in range(row, length) %}
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                <a href="#">{{users[col]}}</a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{content[col]['title']}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="{{url_for('trivia_homepage', id=col)}}" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                {% if(date[col].strftime('%d') == now.strftime('%d')) %}
                {{date[col].strftime("%I:%M %p")}}
                {% else %}
                {{date[col].strftime("%c")}}
                {% endif %} 
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        {% for col in range(row, row+3) %}
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                <a href="#">{{users[col]}}</a>
                </div>
                <div class="card-body">
                <h5 class="card-title">{{content[col]['title']}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="{{url_for('trivia_homepage', id=col)}}" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                {% if(date[col].strftime('%d') == now.strftime('%d')) %}
                {{date[col].strftime("%I:%M %p")}}
                {% else %}
                {{date[col].strftime("%c")}}
                {% endif %} 
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endfor %}
{% endblock content %}